shortcuts-section {
  margin: 20px;
}

.shortcuts-search-results {
  margin: 20px;
  border-spacing: 24px;
}

// shortcut window keys
shortcut {
  border-spacing: 6px;

  > .keycap {
    min-width: 20px;
    min-height: 25px;
    padding: 2px 6px;

    @extend %card;

    border-radius: $button_radius;
    font-size: smaller;
  }
}

shortcuts-section > stackswitcher.circular {
  border-spacing: 12px;

  // FIXME aggregate with buttons
  > button.circular,
  > button.text-button.circular {
    min-width: 32px;
    min-height: 32px;
    padding: 0;
  }
}
